# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3
.venv/
env/
venv/

# Environment variables
.env
.env.*
!.env.example

# Node / React
node_modules/
dist/
build/
.eslintcache

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Docker
.db_data/
postgres_data/
